.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 2000px;
}

.row {
  margin: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-full {
  width: 100%;
  float: left;
  padding: 20px;
}

.column-one-half, .column-two-quarters {
  width: 33.33333%;
  float: left;
  padding: 20px;
}

.column-one-third {
  width: 33.33333%;
  float: left;
  padding: 20px;
}

.column-two-thirds {
  width: 66.66666%;
  float: left;
  padding: 20px;
}

.column-one-quarter {
  width: 25%;
  float: left;
  padding: 20px;
}

.column-three-quarters {
  width: 75%;
  float: left;
  padding: 20px;
}

.map {
    position: absolute;
    top:60px;
    right: 0px;
    left: 340px;
    height: 100%;
}

/*#map {
    position: absolute;
    top:30px;
    right: 0;
    left: 440px;
    height: 40%;
    z-index:10;
}*/
